* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar {
    background-color: #242222;
    color: white;
    padding: 0;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    justify-items: left;
    flex-wrap: wrap;
}


/* box 1 */

.logo {
    padding: 0;
    margin: 0;
    height: 46px;
    border: 1px solid transparent;
    width: 10vw;
}

.logo:hover {
    border: 1px solid white;
    cursor: pointer;
}


/* box 2  */

.navlocation {
    height: 35px;
    position: relative;
    top: 1px;
    margin: 0;
    font-size: 16px;
    border: 1px solid #242222;
    padding: 4px;
}

.navlocation:hover {
    border: 1px solid #ffffff;
    cursor: pointer;
}

.addressicon {
    display: flex;
    padding-top: 2px;
}

.add-first {
    font-size: 13px;
    color: #cccccc;
    padding-left: 17px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.add-second {
    font-size: 15px;
    color: #ffffff;
    margin-top: 0;
    padding-top: 0;
}


/* box 3 */

.navsearch {
    padding: 0;
    display: flex;
    align-items: center;
    justify-items: center;
}

.select-1 {
    border: none;
    height: 37.4px;
    background-color: rgb(226, 226, 226);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: rgb(54, 54, 54);
    margin-top: 1px;
}

.search-area {
    width: 45vw;
    height: 34px;
    margin-top: 1px;
    padding: 0;
}

#search {
    padding: 8px;
}

.icon-2 {
    font-size: 15px;
    padding: 12px;
    margin-top: 1.2px;
    background-color: #f2b75e;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    color: #000000;
}

.select-1:hover {
    background-color: rgb(189, 189, 189);
    color: black;
    cursor: pointer;
}

.icon-2:hover {
    background-color: #f0a431;
    cursor: pointer;
}


/* box 4  */

.flag {
    height: 20px;
    margin: 10px 0px 0px 0px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    padding: 8px 5px 8px 5px
}

.flag:hover {
    border: 1px solid white;
    cursor: pointer;
}

.navflag {
    height: 15px;
    width: 20px;
}

#lang {
    margin-top: 6px;
    background-color: #242222;
    color: #ffffff;
    border: none;
    font-size: bolder;
    font-weight: bolder;
}


/* box 5 */

.navsign {
    margin: 0px;
    border: 1px solid transparent;
    padding: 0px;
    padding-top: 10px;
    height: 36px;
    width: 140px;
}

.navsign:hover {
    border: 1px solid white;
    cursor: pointer;
}

p {
    font-size: 13px;
    color: #cccccc;
    padding-left: 5px;
}

#lists {
    background-color: #242222;
    color: white;
    border: none;
    font-weight: bold;
    font-size: 15px;
    padding-bottom: -10px;
}


/* box 6 */

.navreturn {
    margin: 0px;
    border: 1px solid #242222;
    height: 25px;
    padding: 10px 10px 11px 5px;
}

.navreturn:hover {
    border: 1px solid white;
    cursor: pointer;
}

.return {
    font-size: 13px;
    color: #cccccc;
}

.order {
    color: white;
    font-weight: bold;
    font-size: 15px;
}


/* box 7 */

.navcart {
    margin: 0px;
    display: flex;
    text-align: center;
    border: 1px solid transparent;
    height: 33px;
    padding: 10px 5px 3px 5px;
}

.navcart:hover {
    border: 1px solid white;
    cursor: pointer;
}

.cart {
    font-weight: bolder;
    font-size: 15px;
    color: white;
    margin-top: 14px;
}

#carticon {
    font-size: 30px;
}


/* navbar 2 */

.navbar2 {
    height: 40px;
    background-color: #302d2d;
    display: flex;
    align-items: center;
    z-index: 999;
}

.navall {
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 30px;
    border: 1px solid transparent;
    padding: 10px;
}

.navall:hover {
    border: 1px solid white;
    cursor: pointer;
}

#menu {
    color: white;
}

.all {
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.paragraphs {
    display: flex;
    align-items: center;
    margin-left: 0px;
}

.para {
    margin-left: 0px;
    font-weight: 200px;
    color: white;
    border: 1px solid transparent;
    padding: 10px;
}

.para:hover {
    border: 1px solid white;
    cursor: pointer;
}


/* content */


/* background image */

.content {
    background-color: #e5e1e1;
}

.content-img {
    display: flex;
    justify-content: center;
}

.back-img {
    background-image: url("images/amzon2.jpg");
    background-size: cover;
    height: 250px;
    width: 83vw;
}

.back-img:hover {
    cursor: pointer;
}

.hover:hover {
    cursor: pointer;
}


/* column 1 */

.content-column-1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    border: 1px solid transparent;
    height: 395px;
    width: 19.5vw;
    background-color: #ffffff;
}


/* box 1 */

.box-1 {
    margin-right: 15px;
}

h3 {
    margin: 15px 0px 0px 13px;
}

.box-1-column-1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-1-img {
    width: 9.5vw;
    height: 120px;
}

.column-1-para {
    display: flex;
    align-items: center;
}

.column-1-p1 {
    color: black;
    margin-left: 13px;
    font-size: 12px;
}

.column-1-p2 {
    color: black;
    margin-left: 5vw;
    font-size: 12px;
}

.box-1-column-2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.column-2-para {
    display: flex;
    align-items: center;
}

.column-2-p1 {
    color: black;
    margin-left: 13px;
    font-size: 12px;
}

.column-2-p2 {
    color: black;
    margin-left: 3vw;
    font-size: 12px;
}

.link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 13px;
}

.link:hover {
    cursor: pointer;
    color: rgb(190, 40, 40);
}

a:hover {
    cursor: pointer;
}


/* box 2 */

.box-2 {
    margin-right: 15px;
}

.box-2-column-1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-2-img1 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-2-img2 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-2-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-2-column-1-p2 {
    color: black;
    margin-left: 2.8vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-2-column-2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.column-2-para {
    display: flex;
    align-items: center;
}

.box-2-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-2-column-2-p2 {
    color: black;
    margin-left: 1.9vw;
    font-size: 12px;
    padding-top: 2px;
}


/* box 3 */

.box-3 {
    margin-right: 15px;
}

.box-3-column-1 {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-3-img1 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-3-img2 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-3-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-3-column-1-p2 {
    color: black;
    margin-left: 6.6vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-3-column-2 {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-3-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-3-column-2-p2 {
    color: black;
    margin-left: 6.4vw;
    font-size: 12px;
    padding-top: 2px;
}


/* box 4 */

.pc-img {
    width: 17.7vw;
    height: 307px;
    margin-top: 10px;
    margin-left: 13px;
}

.box-4-link {
    display: flex;
    align-items: end;
    font-size: small;
    color: #007185;
    font-size: 13px;
    margin-left: 13px;
    margin-top: 15px;
}

.box-4-link:hover {
    cursor: pointer;
    color: rgb(190, 40, 40);
}


/* content column-2 */


/* box 5 */

.content-column-2 {
    background-color: #ffffff;
    width: 81vw;
    height: 260px;
    margin: auto;
    margin-top: 2vh;
}

.content-column-2-img {
    display: flex;
    justify-content: space-evenly;
}

.box-5-img {
    width: 150px;
    height: 200px;
}

.heading {
    padding: 4px 0px 3px 0px;
}


/* content column-3 */


/* box 6 */

.content-column-3 {
    background-color: #ffffff;
    width: 81vw;
    height: 260px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.content-column-3-img {
    display: flex;
    justify-content: space-evenly;
}

.box-6-img {
    width: 150px;
    height: 200px;
}


/* content column-4 */

.content-column-4 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* box 7 */

.box-7 {
    margin-right: 15px;
}

.box-7-img1 {
    width: 17.7vw;
    height: 307px;
    margin-top: 10px;
    margin-left: 13px;
}

.box-7-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -14px;
    color: #007185;
    font-size: 13px;
}


/* box 8 */

.box-8 {
    margin-right: 15px;
}

.box-8-img1 {
    width: 17.7vw;
    height: 285px;
    margin-top: 10px;
    margin-left: 13px;
}

.box-8-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -14px;
    color: #007185;
    font-size: 13px;
}


/* box 9 */

.box-9 {
    margin-right: 15px;
}

.box-9-column-1-img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-9-img1 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-9-img2 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-9-column-1-para {
    display: flex;
    align-items: center;
}

.box-9-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-9-column-1-p2 {
    color: black;
    margin-left: 6.9vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-9-column-2-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-9-column-2-para {
    display: flex;
    align-items: center;
}

.box-9-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-9-column-2-p2 {
    color: black;
    margin-left: 7vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-9-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 13px;
}


/* box 10 */

.box-10-column-1-img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-10-img1 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-10-img2 {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-10-column-1-para {
    display: flex;
    align-items: center;
}

.box-10-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-10-column-1-p2 {
    color: black;
    margin-left: 6.7vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-10-column-2-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-10-column-2-para {
    display: flex;
    align-items: center;
}

.box-10-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-10-column-2-p2 {
    color: black;
    margin-left: 6vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-10-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 13px;
}


/* content column 5 */

.content-column-5 {
    background-color: #ffffff;
    width: 81vw;
    height: 260px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.box-11-imgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-11-img {
    width: 7vw;
    height: 20vh;
}


/* content column 6 */

.content-column-6 {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* box 12 */

.box-12 {
    margin-right: 15px;
}

.box-12-column-1-img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-12-img {
    width: 8.5vw;
    height: 118px;
    margin-left: 13px;
}

.box-12-column-1-para {
    display: flex;
    align-items: center;
}

.box-12-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-12-column-1-p2 {
    color: black;
    margin-left: 3.6vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-12-column-2-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-12-column-2-para {
    display: flex;
    align-items: center;
}

.box-12-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-12-column-2-p2 {
    color: black;
    margin-left: 4.8vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-12-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 13px;
}


/* box 13 */

.box-13 {
    margin-right: 15px;
}

.box-13-column-1-img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-13-img {
    width: 8.5vw;
    height: 118px;
    margin-left: 12px;
}

.box-13-column-1-para {
    display: flex;
    align-items: center;
}

.box-13-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-13-column-1-p2 {
    color: black;
    margin-left: 5.6vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-13-column-2-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-13-column-2-para {
    display: flex;
    align-items: center;
}

.box-13-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-13-column-2-p2 {
    color: black;
    margin-left: 5.5vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-13-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 12px;
}


/* box 14 */

.box-14 {
    margin-right: 15px;
}

.box-14-column-1-img {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.box-14-img {
    width: 8.5vw;
    height: 118px;
    margin-left: 12px;
}

.box-14-column-1-para {
    display: flex;
    align-items: center;
}

.box-14-column-1-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-14-column-1-p2 {
    color: black;
    margin-left: 6.5vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-14-column-2-img {
    display: flex;
    align-items: center;
    margin-top: 25px;
}

.box-14-column-2-para {
    display: flex;
    align-items: center;
}

.box-14-column-2-p1 {
    color: black;
    margin-left: 9px;
    font-size: 12px;
    padding-top: 2px;
}

.box-14-column-2-p2 {
    color: black;
    margin-left: 6.3vw;
    font-size: 12px;
    padding-top: 2px;
}

.box-14-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -30px;
    color: #007185;
    font-size: 12px;
}


/* box 15 */

.box-15-img1 {
    width: 17.7vw;
    height: 307px;
    margin-top: 10px;
    margin-left: 13px;
}

.box-15-link {
    font-size: small;
    margin: 0px 0px 0px 13px;
    position: relative;
    bottom: -14px;
    color: #007185;
    font-size: 13px;
}


/* content column 7 */

.content-column-7 {
    background-color: #ffffff;
    width: 81vw;
    height: 260px;
    margin: auto;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.box-16-imgs {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.box-16-img {
    width: 7vw;
    height: 20vh;
}